// Place all the styles related to the lab8 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  background-image: image-url('bg.jpg');
  background-size: 100%;
  font-size: large;
}
.text {
  position: absolute;
  top: 40%;
  left: 43%;
}

.cell {
  text-align: center;
}